[EDD]Proyecto1_Cliente/[EDD]Proyecto1_Cliente/Connected Services/ServidorIPEstatica/WebService11.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nickname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contraseña" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="correoElectronico" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="conectado" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insertarUsuarioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="graficarUsuarios">
        <s:complexType />
      </s:element>
      <s:element name="graficarUsuariosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="graficarUsuariosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertarJuego">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nickname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="oponente" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="unidadesDesplegadas" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="unidadesSobrevivientes" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="unidadesDestruidas" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="gano" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertarJuegoResponse">
        <s:complexType />
      </s:element>
      <s:element name="limpiar">
        <s:complexType />
      </s:element>
      <s:element name="limpiarResponse">
        <s:complexType />
      </s:element>
      <s:element name="eliminarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nickname" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarUsuarioResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="insertarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:insertarUsuario" />
  </wsdl:message>
  <wsdl:message name="insertarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:insertarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="graficarUsuariosSoapIn">
    <wsdl:part name="parameters" element="tns:graficarUsuarios" />
  </wsdl:message>
  <wsdl:message name="graficarUsuariosSoapOut">
    <wsdl:part name="parameters" element="tns:graficarUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="insertarJuegoSoapIn">
    <wsdl:part name="parameters" element="tns:insertarJuego" />
  </wsdl:message>
  <wsdl:message name="insertarJuegoSoapOut">
    <wsdl:part name="parameters" element="tns:insertarJuegoResponse" />
  </wsdl:message>
  <wsdl:message name="limpiarSoapIn">
    <wsdl:part name="parameters" element="tns:limpiar" />
  </wsdl:message>
  <wsdl:message name="limpiarSoapOut">
    <wsdl:part name="parameters" element="tns:limpiarResponse" />
  </wsdl:message>
  <wsdl:message name="eliminarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:eliminarUsuario" />
  </wsdl:message>
  <wsdl:message name="eliminarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:eliminarUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertarUsuario">
      <wsdl:input message="tns:insertarUsuarioSoapIn" />
      <wsdl:output message="tns:insertarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="graficarUsuarios">
      <wsdl:input message="tns:graficarUsuariosSoapIn" />
      <wsdl:output message="tns:graficarUsuariosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertarJuego">
      <wsdl:input message="tns:insertarJuegoSoapIn" />
      <wsdl:output message="tns:insertarJuegoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="limpiar">
      <wsdl:input message="tns:limpiarSoapIn" />
      <wsdl:output message="tns:limpiarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="eliminarUsuario">
      <wsdl:input message="tns:eliminarUsuarioSoapIn" />
      <wsdl:output message="tns:eliminarUsuarioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarUsuario">
      <soap:operation soapAction="http://tempuri.org/insertarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="graficarUsuarios">
      <soap:operation soapAction="http://tempuri.org/graficarUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarJuego">
      <soap:operation soapAction="http://tempuri.org/insertarJuego" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="limpiar">
      <soap:operation soapAction="http://tempuri.org/limpiar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarUsuario">
      <soap:operation soapAction="http://tempuri.org/eliminarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarUsuario">
      <soap12:operation soapAction="http://tempuri.org/insertarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="graficarUsuarios">
      <soap12:operation soapAction="http://tempuri.org/graficarUsuarios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarJuego">
      <soap12:operation soapAction="http://tempuri.org/insertarJuego" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="limpiar">
      <soap12:operation soapAction="http://tempuri.org/limpiar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarUsuario">
      <soap12:operation soapAction="http://tempuri.org/eliminarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://192.168.1.22/Servidor/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://192.168.1.22/Servidor/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>